html {
  box-sizing: border-box;
  line-height: 1.5
}

*, *::before, *::after {
  box-sizing: inherit;
}
section div:last-child {
  background-color: #f2f2f2;

}
section {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  margin: 1.5rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}



5em for images
